/* Estilize o container do menu lateral */
#menu-lateral-fixo {
    position: fixed;
    top: 70%;
    right: -20px;
    transform: translateY(-50%);
    width: 100px;
    text-align: center;
    z-index: 999;
    transition: top 0.3s;
    cursor: pointer;
    background: transparent;
}

#menu-lateral-fixo i {
    font-size: 24px;
}

.icon {
    width: 70px;
    height: auto;
}

/* Estilos para o balão de texto */
.balao-texto {
    border: 1px solid #c0c0c0;
    display: none;
    position: absolute;
    background-color: white;
    color: #323232;
    padding: 30px 30px;
    width: 200px;
    border-radius: 5px;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

@media only screen and (max-width: 768px) {
    #menu-lateral-fixo {
        top: 62%;
        right: -20px;
    }

    .balao-texto {
        display: none;
    }
}