/* Estilize o container do menu lateral */
#menu-lateral-fixo {
    position: fixed;
    top: 50%; /* Posição vertical inicial */
    right: 0; /* Coloque-o à direita */
    transform: translateY(-50%); /* Centralize verticalmente */
    padding: 20px;
    width: 100px;
    text-align: center;
    z-index: 999; /* Para garantir que esteja sempre na frente de outros elementos */
    transition: top 0.3s; /* Adicione uma transição suave para o efeito de rolagem */
    cursor: pointer;
    background: transparent;
}

/* Estilize os ícones (você pode usar FontAwesome ou outro conjunto de ícones) */
#menu-lateral-fixo i {
    font-size: 24px;
}

.icon {
    width: 70px;
    height: auto;
}

/* Estilos para o balão de texto */
.balao-texto {
    border: 1px solid #c0c0c0;
    display: none;
    position: absolute;
    background-color: white;
    color: #323232;
    padding: 30px 30px;
    width: 200px;
    border-radius: 5px;
    right: 80px; /* Posição ao lado do ícone */
    top: 50%; /* Alinhe verticalmente */
    transform: translateY(-50%);
    z-index: 1000; /* Certifique-se de que o balão esteja na frente do ícone */
}
